@font-face {
    font-family: RobotoMono;
    font-weight: 300;
    src: url("../fonts/RobotoMono-Light.ttf");
}

@font-face {
    font-family: RobotoMono;
    font-weight: 400;
    src: url("../fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: RobotoMono;
    font-weight: 500;
    src: url("../fonts/RobotoMono-Medium.ttf");
}

@font-face {
    font-family: RobotoMono;
    font-weight: 600;
    src: url("../fonts/RobotoMono-SemiBold.ttf");
}

@font-face {
    font-family: RobotoMono;
    font-weight: 700;
    src: url("../fonts/RobotoMono-Bold.ttf");
}